<!DOCTYPE html>
<html lang="en">
<head>
    <title>majaslapa</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <a href="http://127.0.0.1:5000/pythonlogin/">Ieiet</a>
    <a href="http://127.0.0.1:5000/pythonlogin/register">Reģistrēties</a>
    <div class="login">
        <h1>Login</h1>
        <div class="links">
            <a href="http://127.0.0.1:5000/pythonlogin/" class="active">Login</a>
            <a href="http://127.0.0.1:5000/pythonlogin/register">Register</a>
        </div>
        <form action="{{ url_for('login') }}" method="post">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Login">
        </form>
    </div>
    <header>
        <nav class="index">
        <ul>
            <li class="desktop"><a href="index.html">Home</a></li>
            <li class="desktop"><a href="something.html">Something</a></li>
            <li class="desktop"><a href="nothing.html">Nothing</a></li>
            
        </ul>
        </nav>
    </header>
    <h1>Login and more</h1>
    <h2>Welcome!</h2>
    
    
</body>
</html>