<!DOCTYPE html>
<html lang="en">
<head>
    <title>majaslapa</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="index">
        <ul>
            <li class="desktop"><a href="index.html">Home</a></li>
            <li class="desktop"><a href="something.html">Something</a></li>
            <li class="desktop"><a href="nothing.html">Nothing</a></li>
            
        </ul>
        </nav>
    </header>
    <h1>Login and more</h1>
    <h2>Welcome!</h2>
    
    
</body>
</html>